@using Project_HiveView_Web.Pages.Components.Weather
@using Project_HiveView_Web.Pages.Components.Price
@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
<div>
    <TemperatureChart />
</div>
<div>
    <PrecipitationChart/>
</div>

@* <VegetablePrice /> *@

@code{
    
}