@page "/"
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name !</h1>
  
        <p>Welcome to your new app.</p>
        <table>
            <tbody>
            <tr>
                @{
                    var givenNameClaim = context.User.Claims.FirstOrDefault(claim => claim.Type == "name");
                    var givenName = givenNameClaim != null ? givenNameClaim.Value : "Not Found";
                }
                <td>@givenName</td>
            </tr>
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>