@page "/"
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Claims.FirstOrDefault(claim => claim.Type == "given_name").Value!</h1>
  
        <p>Welcome to your new app.</p>
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>